//Font Colors
$fontColor: #ffffff;

//Bg Colors
$background: #000000;
$cookieBackground: #212834;

//Border Colors
$borderColor: #5c5c5c;

//Placeholder Colors
$placeholderColor: #bfbfbf;

//Error Colors
$errorColor: #ff0000;