$block: '.animation';
#{$block} {
  background: $background;
  
  &__inner {
    height: 100%;
    padding: 5% 0 15%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    &-item {
      display: flex;
      flex: 1 1 0;
      &--center {
        justify-content: center;
      }
    }
  }

  &__container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__title {
    position: relative;
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    margin-bottom: 23px;
    max-width: 358px;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      left: 62%;
      top: 8%;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      background: #F101BF;
      opacity: 0.6;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      z-index: 0;
    }
  }

  &__info {
    padding-top: 22.9%;
    margin-left: 33.8%;
    &-text {
      font-size: 18px;
      line-height: 25px;
      max-width: 317px;
      width: 100%;
    }
  }

  &__gadget {
    display: flex;
    justify-content: center;
    position: relative;
    top: 16%;
    flex: 1;

    &-container {
      width: 71%;
      position: relative;
      display: flex;
      justify-content: center;
      top: -3%;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: radial-gradient(62.81% 61.84% at 69.82% 26.13%, #CA13A4 0%, #8A0DBC 35.94%, #530FDC 78.13%, #0303F0 100%);
      opacity: 0.1;
      -webkit-filter: blur(70px);
      filter: blur(70px);
      z-index: 0;
    }

    &-iphone-image {
      width: 100%;
      height: 100%;
    }
    &-overlay-image-1,
    &-overlay-image-2 {
      width: 80%;
      position: absolute;
      top: 28.9%;
    }
    &-image {
      position: absolute;
      z-index: -1;
      top: 33%;
      &-1 {
        width: 59%;
      }
      &-2 {
        width: 76.7%;
      }
      &-3 {
        width: 40.5%;
      }
      &-4 {
        width: 34%;
      }
      &-5 {
        width: 43%;
      }
      &-6 {
        width: 25%;
      }
      &-7 {
        width: 43.2%;
      }
      &-8 {
        width: 73%;
      }
      &-9 {
        width: 34%;
      }
    }
  }

  @media (max-width: $mobileM) {
    &__title {
      font-size: 24px;
      line-height: 29px;
    }

    &__info {
    margin-left: 0;
      &-text {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__row {
      flex-direction: column-reverse;
    }
  }
}