$block: '.footer';
#{$block} {
  background: $background;
  flex: 0 0 auto;

  &__inner {
    padding: 7.4% 6.9% 90px;
    position: relative;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 16px;
    margin-top: 4px;
  }

  &__link {
    font-weight: 800;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    &-text {
      font-family: 'Avenir', 'sans-serif';
      font-style: normal;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 3px;
    }
    &-address {
      font-size: 16.7px;
      margin-bottom: 25px;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: 10%;
      left: -3.5%;
      width: 405px;
      height: 405px;
      border-radius: 50%;
      background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
      opacity: 0.3;
      -webkit-filter: blur(75px);
      filter: blur(75px);
      z-index: 0;
    }
  }

  &__copyright-text {
    font-family: 'Avenir', 'sans-serif';
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
  }
  
  &__attachment {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    &-link {
      font-family: 'Avenir', 'sans-serif';
      font-size: 18px;
      line-height: 25px;
    }
    & > :not(:last-child) {
      margin-bottom: 25px;
    }
  }
}