$block: '.qr-code';
#{$block} {
  background: $background;

  &::after, &::before {
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-position: top 2.9% left 50.5% !important;
    }

  &__inner {
    padding: 17% 7% 1.5%;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }
  
  &__title {
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    margin-bottom: 23px;
    max-width: 226px;
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 315px;
    margin: 0 0 33px;
  }

  &__info {
    padding: 25.6% 0 0 6.5%;
    flex: 0 0 43.4%;
    &-stores {
      max-width: 376px;
      & > a {
        &:nth-child(1) {
          max-width: 163px;
        }
        &:nth-child(2) {
          max-width: 184px;
        }
      }
    }
  }

  &__img-wrap {
    position: relative;
    flex: 0 0 60.2%;
  }

  &__img-text {
    width: 100%;
    height: 100%;
    &-wrap {
      position: absolute;
      top: 0.6%;
      left: 38.5%;
      width: 100%;
      padding: 0 44.9%;
    }
  }

  &__gradient {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 24% 0;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
    z-index: -1;
  }

  @media (max-width: $mobileM) {
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__text {
      font-size: 16px;
      line-height: 22px;
    }
  }
}