$block: '.scan';
#{$block} {
  background-repeat: no-repeat;

  &__title {
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    margin-bottom: 23px;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
  }

  &__inner {
    padding: 0 7% 90px;
    display: flex;
    align-items: flex-end;
  }

  &__img-wrap {
    padding: 8%;
    width: 100%;
  }

  &__info {
    max-width: 316px;
    padding-bottom: 14%;
  }
}