$block: '.ui-textInput';

#{$block} {
  background: $fontColor;
  border: 1px solid $borderColor;
  color: $background;
  box-sizing: border-box;
  border-radius: 10px;
  min-height: 65px;
  width: 100%;
  text-indent: 23px;

  &__container {
    max-width: 818px;
    width: 100%;
  }
}
